<div class="d-block text-center text-white">
    2025 © App Innovation Technologies by&nbsp;<a href="https://www.aitechindia.com" class="text-white opacity-40 fw-500" title="aitechindia.com" target="_blank">aitechindia.com</a>
</div>
